/* colors */
$danger: #fc4747;
$light: #ffffff;
$dark-blue: #10141e;
$semi-dark-blue: #161d2f;
$greyish-blue: #5a698f;
$black: #000000;

/* typography */
$text-2xl: 2rem;
$text-xl: 1.5rem;
$text-md: 1.125rem;
$text-sm: 0.9375rem;
$text-xs: 0.8125rem;

$font-light: 300;
$font-medium: 500;

/* breakpoints */
$tablet: 768px;
$desktop: 992px;

/* border radius */
$radius-lg: 1.25rem;
$radius-md: 0.625rem;
$radius-sm: 0.5rem;

/* transition */
$default-transition-time: 0.15s;
