@import '../../app/styles/mixins';

.button {
  border: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  cursor: pointer;
  background-color: rgba($dark-blue, 0.5);

  &:hover {
    background-color: var(--light);
    transition: background-color var(--default-transition-time);

    > svg path {
      fill: var(--black);
      stroke: var(--black);
    }
  }

  @include media(tablet) {
    top: 1rem;
    right: 1.5rem;
  }
}
