@import '../../app/styles/mixins';

.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 0.5rem;
}

.imageContainer {
  position: relative;
  height: 6.875rem;
  overflow: hidden;
  border-radius: var(--radius-sm);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
    background: var(--black);
    transition: opacity var(--default-transition-time);
  }

  &:hover {
    .playContainer {
      opacity: 1;
    }

    &::after {
      opacity: 0.5;
    }
  }

  @include media(tablet) {
    height: 8.75rem;
  }

  @include media(tablet) {
    height: 10.875rem;
  }
}

.image {
  z-index: -1;
}
