@import '../../app/styles/mixins';

.trendingContainer {
  position: relative;
  width: 15rem;
  height: 8.75rem;
}

.container {
  width: 15rem;
  height: 8.75rem;
  position: relative;
  border-radius: var(--radius-sm);
  cursor: pointer;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
    background: var(--black);
    transition: opacity var(--default-transition-time);
  }
}

.image {
  z-index: -1;
}

.information {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.informationGeneral {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--text-xs);
  color: rgba($light, 0.75);
}

.informationOval {
  fill: var(--light);
  opacity: 0.5;
}

.informationIcon {
  width: 0.75rem;
  height: 0.75rem;
  path {
    fill: rgba($light, 0.75);
  }
}

.informationHeading {
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
}

.rating {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-size: var(--text-xs);
  background-color: rgba($light, 0.15);
  border-radius: var(--radius-md);
}

.playContainer {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem;
  border-radius: var(--radius-lg);
  background-color: rgba($light, 0.15);
  align-items: center;
  opacity: 0;
  transition: opacity var(--default-transition-time);
}

.playIcon {
  width: 1rem;
  height: 1rem;
}

.playText {
  font-size: var(--text-xs);
  font-weight: var(--font-medium);
  padding: 0 0.25rem;
}

.container:hover {
  .playContainer {
    opacity: 1;
  }

  &::after {
    opacity: 0.5;
  }
}
