:root {
  /* colors */
  --danger: #fc4747;
  --light: #ffffff;
  --dark-blue: #10141e;
  --semi-dark-blue: #161d2f;
  --greyish-blue: #5a698f;

  /* typography */
  --text-2xl: 2rem;
  --text-xl: 1.5rem;
  --text-md: 1.125rem;
  --text-sm: 0.9375rem;
  --text-xs: 0.8125rem;

  --text-light: 300;
  --text-medium: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--text-sm);
  font-weight: var(--text-light);
  color: var(--light);
  background-color: var(--dark-blue);
}

a {
  color: inherit;
  text-decoration: none;
}
